<!DOCTYPE html>
<html lang="en">
    {% extends 'hello/layout.html' %}
    {% load static %}
    
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'file/filss.css' %}">
        <title>Document</title>
    {% endblock %}
    
    {% block body %}
    <div>
        <nav class="lin">
            <ul class="so">
                <li ><a class="k" href="{% url 'fileout' %}">home</a></li>
                <li ><a class="k" href="{% url 'about' %}">about</a></li>
                <li ><a class="k" href="{% url 'resume' %}">resume</a></li>
            </ul>
        </nav>

        <div>
            <h1>about</h1>
            <h2 class="na"> {{ portfolio.full_name }}</h2>
            <h2 class="is">{{portfolio.professional_title}}</h2>


        </div>
        

    </div>
    {% endblock %}
    
</html>