<!DOCTYPE html>
<html lang="en">
    {% extends 'hello/layout.html' %}
    {% load static %}
    
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'file/filss.css' %}">
        <title>Document</title>
    {% endblock %}
    
    {% block body %}
    <div>
        <nav class="lin">
            <ul>
                <li>home</li>
                <li>about</li>
                <li>resume</li>
                <li>portfolio</li>
            </ul>
        </nav>
        <!-- Assuming you have a block to show the form results -->
        <div>
            <h1>Portfolio Details</h1>
            <p>Name: {{ portfolio.full_name }}</p>
            <p>Email: {{ portfolio.email }}</p>
            <!-- add more fields as needed -->
        </div>
    </div>
    {% endblock %}
    
</html>