<!DOCTYPE html>
<html lang="en">
    {% extends 'hello/layout.html' %}
    {% load static %}
    
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'file/filss.css' %}">
        <title>Document</title>
    {% endblock %}
    
    {% block body %}
    <div>
        <nav class="lin">
            <ul class="so">
                <li ><a class="k" href="#">home</a></li>
                <li ><a class="k" href="#">about</a></li>
                <li ><a  class="k" href="#">resume</a></li>
                <li ><a  class="k" href="#">portfolio</a></li>
            </ul>
        </nav>

        <div>
            <p class="na"> {{ portfolio.full_name }}</p>
            <p class="is">{{portfolio.professional_title}}</p>


        </div>
        

    </div>
    {% endblock %}
    
</html>