<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static%}
    <link rel="stylesheet" href="{% static 'file/filss.css'%}">
    <title>Document</title>
</head>
<body>
    {% extends 'index.html' %}
    <div>
        <nav class="lin">
            <ul>
                <li>home</li>
                <li>about</li>
                <li>resume</li>
                <li>portfolio</li>
            </ul>
        </nav>
    </div>
</body>
</html>