<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'file/style.css' %}">
    <title>Resume</title>
</head>
<body>
    <div>
        <nav class="lin">
            <ul class="so">
                <li><a class="k" href="{% url 'fileout' %}">Home</a></li>
                <li><a class="k" href="{% url 'about' %}">About</a></li>
                <li><a class="k" href="{% url 'resume' %}">Resume</a></li>
            </ul>
        </nav>
    </div>

    {% include 'hello/portfolio_details.html' %}

</body>
</html>
