*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("/static/images/black-tone-office-desk-with-computer-black-minimalist-working-station_267300-211.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    opacity: 1;
}
.lin{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
}
.so{
    list-style: none;
    display: flex;
    gap: 30px;
    padding-right: 30px;
    padding-top: 20px;
}
.k{
    color: white;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
}
.na{
    position: absolute;
    color: white;
    font-size: 40px;
}