*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("/static/images/black-tone-office-desk-with-computer-black-minimalist-working-station_267300-211.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    opacity: 1;
}
.lin{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
}
.so{
    list-style: none;
    display: flex;
    gap: 30px;
    padding-left: 30px;
    padding-top: 20px;
}
.k{
    color: white;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
}
.na{
    position: absolute;
    color: white;
    font-size: 70px;
    margin-top: 150px;
    margin-left: 80px;
    width: 120px;
    font-weight: bold;
    text-transform: capitalize;
}
.is{
    position: absolute;
    font-weight: 200;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    text-transform: capitalize;
    font-size: 80px;
    margin-top: 340px;
    margin-left: 80px;
}
