*{
    margin: 0;
    padding: 0;
}
.lin{
    display: flex;
    justify-content: space-between;
    padding: 7px;
}
.so{
    list-style: none;
    display: flex;
    gap: 30px;
    padding-right: 30px;
    padding-top: 20px;
    color: red;
}
.k{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}