*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("/static/images/max-andrey-TlRQin0iwjE-unsplash.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    height: auto;
    position: relative;
    opacity: 1;
}
h1{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 100px 230px 70px;
    color: rgba(63, 141, 63, 0.911);
}
.lin{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: absolute;
}
.so{
    list-style: none;
    display: flex;
    gap: 30px;
    padding-left: 30px;
    padding-top: 1px;
}
.k{
    color: white;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
}
.na{
    position: absolute;
    color: white;
    font-size: 70px;
    margin-top: 60px;
    margin-left: 80px;
    width: 120px;
    font-weight: bold;
    text-transform: capitalize;
}
.ba{
    position: absolute;
    color: white;
    font-size: 70px;
    margin-top: 150px;
    margin-left: 140px;
    width: 120px;
    font-weight: bold;
    text-transform: capitalize;
}
.is{
    position: absolute;
    font-weight: 200;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    text-transform: capitalize;
    font-size: 80px;
    margin-top: 240px;
    margin-left: 80px;
}
.ii{
    position: absolute;
    font-weight: 200;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    text-transform: capitalize;
    font-size: 80px;
    margin-top: 340px;
    margin-left: 200px;
}